body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background-color:#29b6f6;
}

/* Image size and flex box */
img{
    order: 1;
    max-width: 50%;
    max-height: 100%;
    object-fit: cover;
    vertical-align: middle;
  }
